body{
    display: flex;
    justify-content: center;
}

.calculator{
    background-color: #4285f4;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 40px;
}

.display-container{
    min-height: 7rem;
    width: 321px;
    font-size: 3rem;
    padding: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: #f1f3f4;
    text-align: right;
    border-radius: 5px;
    word-break: break-all;
}

.display{
    margin-right: 5px;
}

.top-display{
    min-height: 27px;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-gap: 5px;
}

.function-btn{
    background-color: #c1615b;
}

#AC-btn{
    grid-column-start: 1;
    grid-column-end: 3;
}

#DEL-btn{
    grid-column-start: 3;
    grid-column-end: 5;
}

.btn{
    height: 4.5rem;
    /* width: 5rem; */
    font-size: 2rem;
    border-radius: 5px;
}
